source https://api.nuget.org/v3/index.json

storage: none
framework: auto-detect
nuget Elmish
nuget Fable.Browser.Dom
nuget Fable.Core
nuget Fable.Lit 
nuget Fable.Lit.Elmish 
nuget FSharp.Core content: none